<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/style.css">
    <title>KD-Sport</title>
</head>
<body>
        <header>
            <div class="uiTopTitle">
                <h1>Ndembo</h1>
                <div class="uiLogo">
                    <img class="logoFile" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Football_pictogram.svg/300px-Football_pictogram.svg.png" alt="ndembo" srcset="">
                </div>
            </div>
            <p>
                Vivez vos <span class="strongWord">moments sportifs</span> n'importe quand, et partout. Zala toujours <span class="strongWord">connecté</span>.
            </p>
        </header>
        <main>
            <div class="button">
                <p class="download"><a href="/user/download">Télechargez maintenant</a></p>
                <i class="fa fa-download"></i>
            </div>
        </main>
        <footer>
            <div class="copyright">2020 &copy; Kinshasadigital.com</div>
        </footer>
</body>
</html>